.start-panel {
    display: grid;
    grid-template-columns: 50px 2fr 1fr 1fr 1fr 1fr 1fr;
    gap: 5px;
    
}
.start-panel__icons {
    display: grid;
    grid-template-rows: 1fr auto;
    grid-row-end: auto;
    
}
.start-panel__grid {
    display: grid;
    grid-template-areas: h;
    grid-template-rows: repeat(3,1fr);
    gap: 5px;
}

.apps--office {
    display: grid;
    gap: 5px;
}
.apps--web {
    display: grid;
    gap: 5px;
}
.apps--other {
    display: grid;
    gap: 5px;
}
.apps__grid {
 display: grid;
 grid-auto-rows: 50px;
 grid-template-columns: repeat(6, 50px);
}
.app--g2x2 {
    display: grid;
    position: relative;
    
}
.app--g2x1 {
    display: grid;
    position: relative;
}
.app--g1x2 {
    display: grid;
    position: relative;
}
.app--off-3 {
    display: grid;
    position: absolute;

}
.app--off-4 {
    display: grid;
    position: absolute;
}
.app--off-5 {
    display: grid;
    position: absolute;
}
.app--in-3 {
    display: grid;
    position: absolute;
}
.app--fun-2 {
    display: grid;
    position: absolute;
}
.app--fun-3 {
    display: grid;
    position: absolute;
}